<h1>Welcome to the home of Fitness Meetup</h1>
<p>This web site uses the following technologies:</p>
<ul>
  <li>.NET Core for the server</li>
  <li>Angular 6 for the front end</li>
  <li>Entity Framework Core for the repository</li>
</ul>
<p>This project is based on the <a href="https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-2.1&tabs=visual-studio">.Net Core Angular template</a></p>
<h2>Supported features</h2>
<ul>
  <li>Facebook SSO</li>
  <li>Posting new meetups</li>
  <li>Joining a meetup</li>
  <li>Viewing upcoming meetups and sorting them by sports type</li>
</ul>
